{{ with .Site.Params.author }}
<section class="sidebar">
  <header>AUTHOR</header>
  <div class="author">
    {{ with .thumbnail }}
    <a href="/about/"><div class="author-thumb" style="background-image: url({{ . | absURL }});"></div></a>
    {{ end }}
    <div class="author-name"><a href="/about/">{{ .name }}</a></div>
    <ul class="author-facts">
      {{ with .facebook }}<li><a href="{{ . }}" rel="noopener nofollow" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>{{ end }}
      {{ with .twitter }}<li><a href="{{ . }}" rel="noopener nofollow" target="_blank"><i class="fab fa-x-twitter" aria-hidden="true"></i></a></li>{{ end }}
      {{ with .instagram }}<li><a href="{{ . }}" rel="noopener nofollow" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>{{ end }}
      {{ with .github }}<li><a href="{{ . }}" rel="noopener nofollow" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>{{ end }}
      {{ with .email }}<li><a href="mailto:{{ . }}" rel="noopener nofollow" target="_blank"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>{{ end }}
    </ul>
    <div class="author-description">{{ .description | safeHTML }}</div>
  </div>
</section>
{{ end }}
