{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
{{ if not .IsHome }}
<header class="page-title">
  <h1 class="title"><a href="/arakogawa/">同人サークル「荒子川製作所」</a></h1>
</header>
{{ end }}
<div class="mrow">
  <div class="mcol c8">
    {{ .Render "summary" }}

    <div class="adj mrow">
      <div class="mcol c6">
        <header>Next Article</header>
        {{ with .NextInSection }}
        {{ .Render "li_sm" }}
        {{ end }}
      </div>
      <div class="mcol c6">
        <header>Previous Article</header>
        {{ with .PrevInSection }}
        {{ .Render "li_sm" }}
        {{ end }}
      </div>
    </div>
  </div>
  <div class="mcol c4">
    {{ partial "sidebar-arakogawa.html" . }}
  </div>
</div>

{{ template "_internal/disqus.html" . }}
{{ end }}
